.gallery {
    float: left; 
    width: 200px;
    height: 200px; 
    padding: 10px; 
    box-sizing: border-box; 
    text-align: center; 
}

.mota {
    margin-top: 10px;
}

.gallery:hover{
    border: 1px solid hsl(0, 2%, 10%);;
}
.gallery img{
    width: 100%;
    height: 100%;
}