main h1{
    color: bisque;
}
main p{
    color: bisque;
}
.trangchu {
 
    justify-content: space-between;
    transform: translateX(-18%);
    transition: transform 0.2s ease, opacity 0.2s ease;
    opacity: 0;
    z-index: 0;
}
.slider-container {
    width: 35%; 
    overflow: hidden;
    padding: 10px;
    display: inline-block; 
}
.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.slider img {
    width: 100%;
    height: auto;
    padding: 5px;
  }
.slider:hover {
    animation: slide 3s infinite;
}
  
@keyframes slide {
    0% { transform: translateX(0%); }
    25% { transform: translateX(-100%); }
    50% { transform: translateX(-200%); }
    75% { transform: translateX(-300%); }
    100% { transform: translateX(0%); }
}
.desc {
    margin-top: 10px;
}
.slider:hover img {
    transform: scale(1.2);
  }